@keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-150%); }
}

.slideshow-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.filmstrip {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to right, black, transparent 40%, black);
}

.slideshow-content {
    white-space: nowrap;
    animation: scroll 15s linear infinite;
}

.slideshow-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.slideshow-content img {
    width: 150px;
    margin-right: 10px;
}

#heart-button {
    position: absolute;
    bottom: 20%;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: url('../cursor/ani/heart/0.png'),auto;
    border-radius: 5px;
    outline: none;
  }

.heart {
    position: absolute;
    width: 32px;
    height: 32px;
    background: url('../image/heart.png') no-repeat;
    background-size: contain;
    animation: heartAnimation 1s ease-out;
}


@keyframes heartAnimation {
    0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    }
    100% {
    transform: translateY(-400px) rotate(360deg);
    opacity: 0;
    }
}